---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";

type Props = {
  post: CollectionEntry<"posts">;
};

const { post } = Astro.props;

export const getStaticPaths = async () => {
  const posts = await getCollection("posts");
  const paths = posts.map((post) => {
    return {
      params: {
        slug: post.slug,
      },
      props: {
        post,
      },
    };
  });
  return paths;
};

export const prerender = true;

const { Content } = await post.render();
---

<Layout title={post.data.title}>
  <div class="gradient px-4 sm:px-0">
    <div
      class="max-w-7xl mx-auto pt-32 sm:px-8 block sm:flex items-center sm:gap-x-28 overflow-hidden divide-x-2 sm:pt-36"
    >
      <a
        href="/blog"
        class="group mb-8 flex h-10 w-10 items-center justify-center rounded-full bg-white shadow-md shadow-darkBg/5 ring-1 ring-darkBg/5 transition lg:mb-0 xl:-top-1.5 xl:left-0 xl:mt-0"
      >
        <svg
          viewBox="0 0 16 16"
          fill="none"
          aria-hidden="true"
          class="h-4 w-4 stroke-zinc-500 transition group-hover:stroke-zinc-700"
          ><path
            d="M7.25 11.25 3.75 8m0 0 3.5-3.25M3.75 8h8.5"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"
          ></path></svg
        >
      </a>
      <div class="text-sm px-2 text-gray-600 border-gray-500 py-1 my-4">
        {post.data.pubDate} - <span class="text-gray-800 dark:text-gray-400"
          >{post.data.author}</span
        >
      </div>
    </div>
    <div
      class="prose max-w-4xl text-base prose-headings:text-gray-900 prose-headings:font-medium text-zinc-600 mx-auto sm:pt-8"
    >
      <Content />
    </div>
  </div>
</Layout>
