---
import PostsList from "../components/PostsList.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Blog">
  <div class="bg-white dark:bg-zinc-900 py-32 pt-48">
    <div class="mx-auto max-w-7xl px-6 lg:px-8">
      <div class="mx-auto max-w-2xl">
        <h2
          class="text-3xl font-bold tracking-tight text-gray-900 dark:text-white sm:text-4xl"
        >
          From the blog
        </h2>
        <p class="mt-2 text-lg leading-8 text-gray-600 dark:text-zinc-400">
          Learn how to grow your business with our expert advice.
        </p>
        <div
          class="mt-10 space-y-16 border-t dark:border-gray-600 border-gray-900 pt-10 sm:mt-16"
        >
          <PostsList />
        </div>
      </div>
    </div>
  </div>
</Layout>
