---
import Activity from "./Activity.astro";
---

<img
  src="/wavepatterndark.svg"
  alt=""
  class="pt-24 sm:pt-0"
/>
<div class="bg-[#372B7A] py-24">
  <div class="mx-auto max-w-8xl px-6 lg:px-8">
    <div class="text-center">
      <p class="text-[#18C0FF] text-lg font-semibold">Facem frumos</p>
      <h2 class="text-4xl font-bold text-white">Activități AI3</h2>
      <p class="mt-3 text-base font-light text-white max-w-xl mx-auto">
        Am luat inițiativă în județul nostru. Descoperă activitățile AI3 și
        începe să faci parte din peisajul inovativ din Alba!
      </p>
    </div>
    <Activity />
  </div>
</div>
