---
import Activity from "./Activity.astro";
---

<div class="bg-gray-50 dark:bg-darkBg py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="max-w-2xl text-start">
      <h2
        class="text-3xl font-bold tracking-tight text-gray-900 dark:text-primary sm:text-4xl">
        Activități AI3
      </h2>
    </div>
    <Activity />
  </div>
</div>
