<div class="px-6 py-10 sm:px-10 lg:col-span-2 xl:p-12">
  <h3 class="text-lg font-medium text-gray-900">Trimite-ne un mesaj</h3>
  <form
    action="#"
    method="POST"
    class="mt-6 grid grid-cols-1 gap-y-6 sm:grid-cols-2 sm:gap-x-8"
  >
    <div>
      <label
        for="full-name"
        class="block text-sm font-medium text-gray-900"
      >
        Nume
      </label>
      <div class="mt-1">
        <input
          type="text"
          name="full-name"
          id="full-name"
          autocomplete="family-name"
          class="block w-full bg-gray-100 rounded-md border-gray-300 px-4 py-3 text-gray-900 shadow focus:border-blue-500 focus:ring-blue-500"
        />
      </div>
    </div>
    <div>
      <label
        for="email"
        class="block text-sm font-medium text-gray-900"
      >
        Email
      </label>
      <div class="mt-1">
        <input
          id="email"
          name="email"
          type="email"
          autocomplete="email"
          class="block bg-gray-100 w-full rounded-md border-gray-300 px-4 py-3 text-gray-900 shadow focus:border-blue-500 focus:ring-blue-500"
        />
      </div>
    </div>

    <div class="sm:col-span-2">
      <div class="flex justify-between">
        <label
          for="message"
          class="block text-sm font-medium text-gray-900"
        >
          Mesaj
        </label>
        <span
          id="message-max"
          class="text-sm text-gray-500"
        >
          Max. 500 de caracter
        </span>
      </div>
      <div class="mt-1">
        <textarea
          id="message"
          name="message"
          rows="4"
          class="bg-gray-50 shadow block w-full rounded-md border-gray-300 px-4 py-3 text-gray-900 focus:border-blue-500 focus:ring-blue-500"
          aria-describedby="message-max"
        ></textarea>
      </div>
    </div>
    <div class="sm:col-span-2 sm:flex sm:justify-end">
      <button
        type="submit"
        class="mt-2 inline-flex w-full items-center justify-center rounded-md border border-transparent bg-blue-600 px-6 py-3 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 sm:w-auto"
      >
        Trimite
      </button>
    </div>
  </form>
</div>
