---
type Props = {
  buttonText: string;
};
const { buttonText } = Astro.props;
---

<div class="mx-auto max-w-lg lg:max-w-none">
  <form
    action="#"
    method="POST"
    class="grid grid-cols-1 gap-y-6"
  >
    <div class="group relative z-0 transition-all focus-within:z-10">
      <input
        id=":S1:"
        autocomplete="name"
        placeholder=" "
        class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-6 text-base/6 text-neutral-950 dark:text-gray-200 ring-4 ring-transparent transition focus:border-blue-600 focus:outline-none focus:ring-blue-600/5 rounded-2xl"
        type="text"
        name="name"
      /><label
        for=":S1:"
        class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-blue-600 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-blue-600"
        >Nume</label
      >
    </div>
    <div class="group relative z-0 transition-all focus-within:z-10">
      <input
        id=":S1:"
        autocomplete="Email"
        placeholder=" "
        class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-6 text-base/6 text-neutral-950 dark:text-gray-200 ring-4 ring-transparent transition focus:border-blue-600 focus:outline-none focus:ring-blue-600/5 rounded-2xl"
        type="text"
        name="Email"
      /><label
        for=":S1:"
        class="pointer-events-none absolute left-6 top-1/2 -mt-3 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-blue-600 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-blue-600"
        >Email</label
      >
    </div>
    <div class="group relative z-0 transition-all focus-within:z-10">
      <textarea
        id=":S1:"
        autocomplete="message"
        placeholder=" "
        class="peer block w-full border border-neutral-300 bg-transparent px-6 pb-4 pt-6 text-base/6 text-neutral-950 dark:text-gray-200 ring-4 ring-transparent transition focus:border-blue-600 focus:outline-none focus:ring-blue-600/5 rounded-2xl"
        name="message"
      ></textarea><label
        for=":S1:"
        class="pointer-events-none absolute left-6 top-1/2 -mt-6 origin-left text-base/6 text-neutral-500 transition-all duration-200 peer-focus:-translate-y-4 peer-focus:scale-75 peer-focus:font-semibold peer-focus:text-blue-600 peer-[:not(:placeholder-shown)]:-translate-y-4 peer-[:not(:placeholder-shown)]:scale-75 peer-[:not(:placeholder-shown)]:font-semibold peer-[:not(:placeholder-shown)]:text-blue-600"
        >Mesajul tau...</label
      >
    </div>

    <div>
      <button
        type="submit"
        class="inline-flex justify-center rounded-md border border-transparent bg-blue-600 px-4 py-2 text-base font-medium text-white shadow-sm hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-indigo-500 focus:ring-offset-2"
        >{buttonText}
        <span
          aria-hidden="true"
          class="pl-2"
          >→</span
        ></button
      >
    </div>
  </form>
</div>
