---
import ContactForm from "./ContactForm.tsx";
---

<img
  src="/wavepatternlight.svg"
  alt=""
  class="pt-24 sm:pt-0"
/>
<div
  id="contact"
  class="relative bg-[#E4F7FF] py-24 sm:py-36"
>
  <div class="relative mx-auto max-w-7xl lg:grid lg:grid-cols-5">
    <div class="px-6 lg:col-span-2 lg:px-8 lg:py-12 xl:pr-12">
      <div class="mx-auto max-w-lg relative">
        <h2
          class="text-2xl text-accent font-semibold sm:text-3xl flex items-center gap-x-3"
        >
          <span>Contactează-ne</span>
          <img
            src="/logo_gem.svg"
            alt=""
            class="w-12 h-12"
          />
        </h2>
        <p class="my-3 text-lg leading-6 text-primaryText">
          Ai ceva să ne spui? Intră acum în legătură cu un membru AI3!
        </p>
        <div>
          <p class="mt-6 text-lg text-primaryText">
            Urmărește-ne în Social Media și ține pasul cu noi!
          </p>
          <div class="flex gap-x-4 pt-4">
            <a
              href="https://www.facebook.com/AsociatiaAI3"
              class="text-accent hover:text-accent/60"
            >
              <span class="sr-only">Facebook</span>
              <svg
                class="h-6 w-6"
                fill="currentColor"
                viewBox="0 0 24 24"
                aria-hidden="true"
              >
                <path
                  fill-rule="evenodd"
                  d="M22 12c0-5.523-4.477-10-10-10S2 6.477 2 12c0 4.991 3.657 9.128 8.438 9.878v-6.987h-2.54V12h2.54V9.797c0-2.506 1.492-3.89 3.777-3.89 1.094 0 2.238.195 2.238.195v2.46h-1.26c-1.243 0-1.63.771-1.63 1.562V12h2.773l-.443 2.89h-2.33v6.988C18.343 21.128 22 16.991 22 12z"
                  clip-rule="evenodd"
                ></path>
              </svg>
            </a>
          </div>
          <p class="text-lg pt-8 text-primaryText">
            Ne poți vizita pe <a
              class="hover:underline transition text-gray-800"
              href="https://www.google.com/maps/place/WhiteCity+Code/@46.065087,23.5533103,17z/data=!4m6!3m5!1s0x474ea87919ad6305:0x56b7b8f28445612c!8m2!3d46.065087!4d23.555499!16s%2Fg%2F12vscqjlw?coh=164777&entry=tt&shorturl=1"
              >Bulevardul Revoluției 1989 1G, Alba Iulia</a
            >
          </p>
        </div>
      </div>
    </div>
    <div class="px-6 sm:py-16 lg:col-span-3 lg:px-8 lg:py-12 xl:pl-12">
      <ContactForm
        buttonText="Trimite mesajul →"
        client:load
      />
    </div>
  </div>
</div>
