---
import { Image } from "astro:assets";
import logo_glitch from "../../public/logo-glitch.png";
import difffusionpic from "../../public/difffusionpic.avif";
import Countdown from "./Countdown";
---

<img
  src="/wavepatterndark.svg"
  alt=""
  class="pt-24 sm:pt-0"
/>
<div class="relative overflow-hidden bg-darkBg">
  <div
    class="grid grid-cols-1 md:grid-cols-2 gap-24 sm:gap-48 px-6 py-12 sm:px-6 sm:py-24 lg:px-8 max-w-8xl mx-auto relative"
  >
    <div class="max-w-2xl">
      <Image
        src={logo_glitch}
        class="mx-auto block"
        alt="difffusion logo"
      />
      <h1 class="text-3xl font-semibold text-white sm:text-4xl pt-12">
        Fuziune creativ-tehnologică
      </h1>
      <p class="mt-6 max-w-xl text-lg text-gray-300">
        Explorează frontierele tehnologiei și pornește pe urmele creativității
        la primul festival digital din Alba!
      </p>
      <p class="mt-4 max-w-3xl text-lg text-gray-300">
        Lideri din IT, antreprenori remarcabili, speakeri, designeri și alți
        creativi din industrie vin în Alba Iulia, între 21 și 23 iunie 2024, să
        pornească alături de tine într-o aventură epică prin lumea digitală.
      </p>
      <div class="flex pt-4 sm:pt-10">
        <Countdown client:only />
      </div>
    </div>
    <div>
      <Image
        src={difffusionpic}
        alt=""
        class="sm:max-w-lg rounded-3xl shadow-custom"
      />
    </div>
  </div>
</div>
