---
import { Image } from "astro:assets";
import logo_glitch from "../../public/logo-glitch.png";
import logo_glitch_dark from "../../public/logo_glitch_dark.png";
import pattern from "../../public/difffusion_pattern.avif";
import Countdown from "./Countdown";
import Sponsors from "./Sponsors.astro";
import Sponsor from "./Sponsor.astro";
import Button from "./Button.astro";
---

<div class="bg-difffusionBg bg-no-repeat bg-center py-24 sm:py-0 bg-opacity-50">
  <div class="px-6 py-12 sm:px-6 sm:py-24 lg:px-8 max-w-7xl mx-auto relative">
    <div>
      <Image
        src={logo_glitch}
        class="mx-auto block"
        alt="difffusion logo"
      />

      <h1
        class="text-5xl sm:text-center font-semibold text-white sm:text-4xl pt-12"
      >
        Fuziune creativ-tehnologică
      </h1>
      <p
        class="mt-1 sm:text-center text-lg max-w-2xl mx-auto drop-shadow-2xl text-white"
      >
        Explorează frontierele tehnologiei și pornește pe urmele creativității
        la <strong>primul festival digital din Alba!</strong>
      </p>
      <Countdown client:only />
    </div>
  </div>
  <Sponsors bgColor="bg-transparent" />
</div>
