---
import { Image } from "astro:assets";
import diffusion_black from "../../public/diffusion_black.png";
import diffusion_white from "../../public/diffusion_white.png";
import logo_glitch from "../../public/logo-glitch.png";
import logo_glitch_dark from "../../public/logo_glitch_dark.png";
import Sponsor from "./Sponsor.astro";
---

<div class="relative isolate overflow-hidden bg-white dark:bg-darkBg">
  <div class="px-6 py-24 sm:px-6 sm:py-32 lg:px-8 max-w-7xl mx-auto">
    <div class="mx-auto max-w-2xl text-center">
      <Image
        src={logo_glitch}
        class="mx-auto hidden dark:block"
        alt="difffusion logo"
      />
      <Image
        src={logo_glitch_dark}
        class="mx-auto dark:hidden"
        alt="difffusion logo"
      />
      <h2
        class="text-3xl font-bold tracking-tight text-blue-400 sm:text-4xl pt-12"
      >
        <span class="bg-blue-400 text-gray-800">Fuziune</span> creativ-tehnologică
      </h2>
      <p
        class="mx-auto mt-6 max-w-xl text-lg leading-8 text-zinc-600 dark:text-gray-300"
      >
        Explorează frontierele tehnologiei și pornește pe urmele creativității
        la primul festival digital din Alba!
      </p>
      <p
        class="mx-auto mt-10 max-w-2xl text-md leading-8 text-zinc-600 dark:text-gray-300"
      >
        Lideri din IT, antreprenori remarcabili, speakeri, designeri și alți
        creativi din industrie vin în Alba Iulia, între 21 și 23 iunie 2024, să
        pornească alături de tine într-o aventură epică prin lumea digitală.
      </p>
      <p
        class="mx-auto mt-10 max-w-2xl text-lg leading-6 text-zinc-800 dark:text-gray-100"
      >
        Fii cu ochii pe noi! Lansăm biletele în curând!
      </p>
    </div>
    <div class="flex items-center gap-x-8 pt-24">
      <h2
        class="text-lg font-semibold leading-8 text-zinc-600 dark:text-zinc-200"
      >
        Inițiative desfășurate cu sprijinul
      </h2>
      <div class="h-px flex-auto bg-zinc-200"></div>
    </div>
    <div
      class="mx-auto max-w-7xl mt-10 grid sm:grid-cols-2 items-center gap-x-8 gap-y-10 sm:gap-x-10 lg:mx-0 lg:grid-cols-5"
    >
      <Sponsor />
    </div>
    <p class="text-center pt-6 text-lg text-zinc-800 dark:text-gray-100">
      Vrei să devii partener? Completează formularul <a
        href="#member"
        class="underline"
        >aici</a
      >.
    </p>
  </div>
</div>
