---
import { navLinks } from "../data";
---

<div class="bg-white">
  <footer
    class="mx-auto flex items-center justify-between max-w-7xl overflow-hidden px-6 py-10 lg:px-8"
  >
    <div class="flex items-center gap-x-4">
      <img
        src="/logo.png"
        class="w-16 h-16"
      />

      <p class="text-xs">Copyright &copy; AI3</p>
    </div>
    <nav
      class="flex items-center justify-between"
      aria-label="Footer"
    >
      <div class="flex gap-x-4">
        {
          navLinks.map((route) => (
            <a
              href={route.href}
              class={`text-sm text-gray-400 hover:text-accent  transition`}
            >
              {route.route}
            </a>
          ))
        }
      </div>
    </nav>
  </footer>
</div>
