---
import { Image } from "astro:assets";
import logo_gem from "../../public/logo_gem.svg";
import ateliere from "../../public/ateliere.jpeg";
import MembershipForm from "./MembershipForm.tsx";
import Part from "./Part.astro";
---

<div
  id="member"
  class="relative"
>
  <Part />
  <div class="max-w-8xl mx-auto">
    <div class="sm:text-lg pt-24 grid grid-cols-1 sm:grid-cols-2 bg-white">
      <div class="max-w-lg">
        <div class="px-8">
          <p class="text-subheading text-base font-semibold">Înscrie-te</p>
          <h1 class="text-4xl font-bold text-accent mt-2">
            Încă un pas și ești unul de-al nostru!
          </h1>
          <p class="text-base mt-4 mb-8 text-primaryText">
            Completează formularul de înscriere și devino membru AI3!
          </p>
        </div>
        <Image
          src={ateliere}
          alt=""
          class="rounded-tl-[110px] rounded-lg relative z-10 aspect-[10/7] sm:ml-12 mt-8 mb-24 px-4 sm:px-0"
        />
      </div>
      <div class="relative">
        <div class="relative">
          <MembershipForm
            buttonText="Aplică"
            client:load
          />
        </div>
        <div
          class="absolute z-50 sm:z-0 -bottom-10 left-2 sm-bottom-8 sm:left-10"
        >
          <Image
            src={logo_gem}
            alt=""
            class="w-14 h-18 sm:w-28 sm:h-36"
          />
        </div>
        <div class="absolute -top-12 right-0 sm:-top-12 sm:right-20">
          <Image
            src={logo_gem}
            alt=""
            class="w-16 h-20"
          />
        </div>
      </div>
    </div>
  </div>
</div>
