---
import { navLinks } from "../data";
import MobileNavbar from "../components/MobileNavbar";
import { Image } from "astro:assets";
import ai3 from "../../public/ai3.svg";
---

<header class="absolute top-0 inset-x-0 z-50">
  <nav
    class="hidden md:flex mx-auto max-w-8xl items-center justify-between p-6 lg:px-6"
    aria-label="Global"
  >
    <div class="flex lg:flex-1">
      <a
        href="/"
        class="-m-1.5 p-1.5"
      >
        <span class="sr-only">AI3</span>

        <Image
          class="h-42 w-24"
          src={ai3}
          alt="AI3 Logo"
          height="64"
          width="64"
        />
      </a>
    </div>

    <div class="hidden md:flex md:gap-x-12 items-center">
      {
        navLinks.map((route) => (
          <a
            href={route.href}
            class="text-base font-medium leading-6 text-[#111928] hover:text-accent transition"
          >
            {route.route}
          </a>
        ))
      }
    </div>
  </nav>
  <MobileNavbar client:idle />
</header>
