---
import Project from "./Project.astro";
---

<div
  id="proiecte"
  class="gradient py-24 sm:py-36"
>
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-3xl lg:mx-0">
      <h2 class="text-3xl tracking-tight font-semibold text-accent sm:text-4xl">
        Create cu mândrie în Alba, de membrii AI3
      </h2>
    </div>
    <Project />
  </div>
</div>
