---
import Project from "./Project.astro";
---

<div class="bg-gray-100 dark:bg-zinc-900 py-24 sm:py-32">
  <div class="mx-auto max-w-7xl px-6 lg:px-8">
    <div class="mx-auto max-w-2xl lg:mx-0">
      <h2 class="text-3xl font-bold tracking-tight text-accent sm:text-4xl">
        Proiectele membrilor AI3
      </h2>
    </div>
    <Project />
  </div>
</div>
