---
import { partners } from "../data";
---

{
  partners.map((partner) => (
    <a
      href={partner.link}
      title={partner.sponsor}
    >
      <div>
        <img
          class={`col-span-2 object-contain object-left lg:col-span-1 w-48 sm:w-full ${
            partner.height ? partner.height : "max-h-20"
          }`}
          src={partner.image}
          alt={partner.sponsor}
        />
      </div>
    </a>
  ))
}
