---
import { partners } from "../data";
---

{
  partners.map((partner) => (
    <a
      href={partner.link}
      title={partner.sponsor}
    >
      <div class="h-24 gap-x-8 flex justify-center items-center rounded-xl px-8 py-4">
        <img
          class={`col-span-2 object-contain object-left lg:col-span-1 ${
            partner.height ? partner.height : "max-h-14"
          }`}
          src={partner.image}
          alt={partner.sponsor}
        />
      </div>
    </a>
  ))
}
