---
import { partners } from "../data";
---

{
  partners.map((partner) => (
    <a href={partner.link} title={partner.sponsor}>
      <img
        class={`col-span-2 w-full object-contain object-left lg:col-span-1 ${
          partner.height ? partner.height : "max-h-14"
        }`}
        src={partner.image}
        alt={partner.sponsor}
        width="158"
        height="48"
      />
    </a>
  ))
}
